
/*button*/

.button-dark {
  font-family: 'Open Sans', serif;
  background-color: var(--navy);
  color: white !important;
  font-size: 15px;
  border-radius: 4px;
  padding: 8px 24px;
}

.button-dark:hover {
/*  font-family: 'Open Sans', serif;*/
  background-color: var(--dark-gray);
  color: white;
  text-decoration: none;
}


.button-green {
  font-family: 'Open Sans', serif;
  background-color: var(--green);
  color: white !important;
  font-size: 16px;
  border-radius: 4px;
  padding: 0.5rem 2rem;
}

.btn-wide {
   padding: 0.75rem 1.5rem;
}

.button-green:hover {
  font-family: 'Open Sans', serif;
  background-color: var(--dark-gray);
  color: white;
  text-decoration: none;
}

