.footer {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  padding: 24px;
  font-size: 13px;
}

.footer a {
  color: var(--green);
}

.footer a:hover {
  text-decoration: none;
  color: var(--beige);
}

.footer p {
  margin: 0px;
}
