@import "button.css";
@import "font-styles.css";
@import "footer.css";
@import "lists.css";
@import "navbar.css";

:root {
  --op-beige: rgba(237, 227, 218, 0.7);
  --beige: #D9C4B1;
  --green: #009384;
  --dark-gray: #31394D;
  --mid-gray: #525252;
  --gray: #686868;
  --light-gray: #E5E5E5;
  --navy: #17415A;
  --light-beige: #F9F4EF;;
}


body {
  background-color: var(--light-beige);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: var(--dark-gray);
  line-height: 1.6;
}

.white {
  background-color: white;
}

.white_paper {
  background-color: white;
  margin: 40px 120px;
  padding: 60px 0px;
}

.section {
  padding: 60px 120px;
}

.section-lg {
  padding: 200px 120px;
}

.cards_grid {
  display: grid;
  padding: 24px;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
}

@media(max-width: 992px) {
  .cards_grid {
    grid-template-columns: 1fr;
  }
}


.heroshot {
  width: 100%;
}

.rectangle_beige {
  background-color: var(--op-beige);
  margin-left: 80px;
  position: relative;
  width: 320px;
  height: 120px
}

.overlay_text {
  position: absolute;
  width: 280px;
  bottom: -24px;
  right: 24px;
}



.rectangle_navy {
  background-color: var(--navy);
  color: white;
  margin: auto;
  border-radius: 4px;
  padding: 40px;
  /*width: 440px;*/
  /*height: 180px;*/
}

.rectangle_navy p {
  font-weight: 300;
  color: #D6DEE3;
  line-height: 1.7;
}


@media(max-width: 768px) {
  .section {
    padding: 20px;
  }

  .rectangle_beige {
    margin-left: 0px;
  }
}


@media(max-width: 480px) {
  .white_paper {
  margin: 8px 16px;
  }
  .rectangle_navy {
    width: 240px;
    padding: 16px 24px;
  }

  .rectangle_beige {
    width: 280px;
  }

  .overlay_text {
    width: 280px;
  }
}


